<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>base</title>
</head>
<body>
  <h2>kayıt formu</h2>
  <form action="{% url 'verigonder' %}" method="POST">
    {% csrf_token %}
    <label for="ad">adınız: </label>
    <input type="text" id="ad" name="ad"><br><br>

    <label for="soyad">soyadınız: </label>
    <input type="text" id="soyad" name="soyad"><br><br>

    <label for="email">email: </label>
    <input type="email" id="email" name="email"><br><br>

    <label for="sifre">şifre: </label>
    <input type="password" id="sifre" name="sifre"><br><br>
    
    <label for="telefon">telefon: </label>
    <input type="tel" id="telefon" name="telefon" placeholder="0555-555-55-55" pattern="[0-9]{11}"><br><br>

    <input type="submit" value="Gönder">
    <input type="reset" value="Sıfırla"><br><br>
  </form>
</body>
</html>
